[2017-11-13 12:56] junpenglao opened #1 "Licence?"
Thanks @twiecki for creating the repository!
Could we change it to a more passive licence (e.g., MIT)? For example, see stan-dev they just attribute the licence to the author https://github.com/stan-dev/example-models#licensing

[2017-11-13 12:57] twiecki commented on #1
Sure, I just put something in without much consideration.

[2017-11-13 13:48] #1 closed

[2017-11-13 13:50] junpenglao opened #2 "Future proof it by renaming it to pymc3-resources?"

[2017-11-13 16:42] twiecki commented on #2
In case we release pymc4 or someone is thinking it could be for pymc 2?

[2017-11-13 16:47] junpenglao commented on #2
exactly, but maybe we just create different branches?

[2018-03-02 09:11] lucianopaz opened #5 "WARNING No module named 'mkl'"
I was looking at the notebook for chapter III in the [binder server](https://mybinder.org/v2/gh/pymc-devs/resources/master?filepath=BCM), and when I tried to run the first cell, I got a warning regarding mkl. The full traceback is copied below. Maybe this could lead to numerical discrepancies when running code blocks on binder.

    WARNING (theano.configdefaults): install mkl with `conda install

[2018-03-02 09:59] twiecki commented on #5
Thanks, we probably need to `conda install mkl`.

[2018-03-02 10:23] junpenglao commented on #5
Strangely the `environment.yml` is the same in https://github.com/pymc-devs/resources/blob/master/Rethinking/environment.yml and https://github.com/aloctavodia/Statistical-Rethinking-with-Python-and-PyMC3/blob/master/environment.yml but one is broken but the other is not...

[2018-03-02 12:55] ColCarroll commented on #5
I just installed theano on a linux machine, and you actually have to do what the error says: `Either install mkl-service with conda or set MKL_THREADING_LAYER=GNU in your environment for MKL 2018.`
I added `export MKL_THREADING_LAYER=GNU` to the `.bashrc` and it works fine.

[2018-03-02 12:56] twiecki commented on #5
better to install mkl, no?

[2018-03-02 13:03] ColCarroll commented on #5
Sorry, yes, you need to do both: install mkl *and* set `MKL_THREADING_LAYER=GNU`

[2018-03-02 13:09] ColCarroll commented on #5
Oops, just saw this was an issue about the binder server and saw `mkl` wasn't installed there.  You're right, that's the bigger problem.

[2018-03-02 13:36] aloctavodia commented on #5
I think this is a general problem with conda, I had the same issue a few weeks ago on a fresh install.

[2018-04-25 23:07] rosgori opened #9 "WAIC score in chapter 10 in Statistical Rethinking"
If you read the comments on code [10.24 and 10.29](https://github.com/pymc-devs/resources/blob/master/Rethinking/Chp_10.ipynb), you could think "there is something wrong here, is `pymc3` the origin of this error?" Well, there could be many questions about this, but there are at least two ways to confirm if that WAIC score is right.

The first one is to go to this [page](https://osf.io/cugnr/), dow

[2018-04-26 07:08] junpenglao commented on #9
Thanks for verifying @rosgori!

[2018-05-22 19:08] hvasbath commented on #5
this cannot be resolved within pymc3, you simply have to define the environment variable as @ColCarroll mentioned above.

[2018-07-22 05:28] rosgori opened #14 "Adding 'Doing Bayesian Data Analysis'?"
Are you guys planning to add a new resource to this page? The book I have in mind is 'Doing Bayesian Data Analysis' from John K. Kruschke. There are at least two repositories in [github.com](github.com) where you can find `pymc3` as a replacement for `Stan`:

- https://github.com/aloctavodia/Doing_bayesian_data_analysis
- https://github.com/JWarmenhoven/DBDA-python

[2018-07-22 07:42] junpenglao commented on #14
That's a great idea, cc @aloctavodia @jwarmenhoven.

[2018-07-23 06:45] JWarmenhoven commented on #14
What will be the benefit of migrating these repositories? They are referenced in the PyMC3 documentation. http://docs.pymc.io/#learn-bayesian-statistics-with-a-book-together-with-pymc3

[2018-07-23 12:03] aloctavodia commented on #14
My port of the first edition is outdated, if we are going to move it here we should updated. Maybe we should focus all efforts on @JWarmenhoven port of the second edition.

When I suggested moving statistical rethinking code under pymcdevs I was thinking about long term maintenance and also I did not like to have a repository under my number with several other contributors, putting inside and orga

[2018-07-23 15:31] twiecki commented on #14
@aloctavodia In that case you should probably add a link to @JWarmenhoven's version.

[2018-07-23 17:58] aloctavodia commented on #14
@twiecki good idea! Done it. I also just realize that I did a code update six month ago, not that bad! Will check if another one is necessary.

[2018-09-05 19:07] dsanalytics opened #18 "Amazon reviewer had an issue with SR book python code"
One Amazon reviewer had an issue with Statistical Rethinking book python code. I didn't have a chance to confirm this. Here's the review:
https://www.amazon.com/gp/customer-reviews/RFZEN0ZWPL2ZA/ref=cm_cr_getr_d_rvw_ttl?ie=UTF8&ASIN=1482253445

--- Excerpt from it ---

Edit: starting in chapter 6, the Jupiter notebooks use pm.compare to compare models. this doesn't work for me, yet. I followed the

[2018-09-05 19:57] junpenglao commented on #18
Ohhhhh right the `pm.compare` API changed - interested to submit a PRs?

[2018-09-05 20:42] dsanalytics commented on #18
Just reporting what somebody else found. Thanks in advance for your time.

[2018-11-09 18:00] #18 closed

[2018-11-09 18:00] aloctavodia commented on #18
This has been fixed

[2018-11-09 18:06] aloctavodia commented on #14
@rosgori Are you still interesting in adding this book? If not I think we can just close this issue.

[2018-11-09 18:08] aloctavodia commented on #9
Should we remove the comments? Or explain our computations are right?

[2018-11-09 18:53] dsanalytics commented on #18
Thanks - appreciated!

[2018-11-09 23:29] rosgori commented on #14
You can close this issue.

[2018-11-09 23:37] rosgori commented on #9
Remove the comments? Maybe. But the reasons for that discrepancy are... well, Richard McElreath explains it better https://discourse.mc-stan.org/t/trying-to-find-waic-for-a-simple-model-from-statistical-rethinking/3991/5

[2018-11-09 23:43] #14 closed

[2018-11-20 19:55] junpenglao opened #24 "Fix divergence in Chapter 5 of BDA3"
I didnt manage to run the notebook before merging - we should try to get rid of the divergences.

[2019-02-05 13:37] AllardJM opened #26 "11.22 definition of logistic component"
Shouldnt 11.22 be changed to

p = pm.math.invlogit(ap)

from

p = pm.math.sigmoid(ap)

[2019-02-05 13:43] AllardJM commented on #26
Oops they are the same, just one is generalized to tensors.

[2019-02-05 13:43] #26 closed

[2019-02-12 03:23] BrianMiner opened #27 "12.34 rethinking"
I’m confused why the trace of a_actor is multiplied by a_actor_sims? From the book I was under the impression we were to simply replace trace of a_actor with the sims version and average over it. But then again I’m just learning :) . Can you please give me a hint why the code is as it is here?

[2019-02-13 19:14] eigenfoo commented on #27
Hi @BrianMiner! I might misunderstand, but it sounds like you have a question about one of our resources. We'd prefer if you directed those kinds of questions to our [discourse forum](https://discourse.pymc.io/), and reserve the issue tracker for actionable maintenance issues for the developers. Thank you!

Closing this issue now.

[2019-02-13 19:14] #27 closed

[2019-02-26 07:18] kenjioman opened #28 "Rethinking2: Chapter 4, New B-Splines Section"
I am attempting to re-create the figures from Section 4.5.2 on Splines from Richard McElreath's [2nd edition of his book](https://xcelab.net/rm/sr2/) (details of the password found on [the github page](https://github.com/rmcelreath/statrethinking_winter2019) -- sorry, since it's not mine to give away, I only feel comfortable pointing to his repo where he tells you how to access the book).

So far,

[2019-02-26 10:21] junpenglao commented on #28
pm.math.dot does not understand data type for `B`, which is a DesignMatrix
Try:
[code]

[2019-02-26 10:21] #28 closed

[2019-02-27 06:26] kenjioman commented on #28
Thank you so much for your quick reply!  I think this will work! (at least, it didn't throw an error message, and it's in the middle of sampling).  Also, I recognize the other error you pointed out -- thanks for bringing it to my attention as well!

[2019-02-27 07:25] kenjioman commented on #28
Just to clarify, in the book, the matrix multiplication is simply used as a tool to assign a unique weight to each column of the B matrix, and sum these products together.  Assigning w as a MvNormal, as above, is I think actually the wrong thing to do, as this causes the sampler to create covariance terms (if I understand correctly), but we actually want all off-diagonal terms to be zero (so, the

[2019-02-27 13:37] junpenglao commented on #28
I think you should avoid the for loop:
[code]

[2019-02-28 05:12] kenjioman commented on #28
I did not realize the Normal distribution also came with a shape parameter -- thank you for pointing that out!  Yes, I think this is probably the best solution.

PS, for future reference, where can I go to see all the acceptable kwargs for these distributions?  Going to the main https://docs.pymc.io/api/distributions/continuous.html#pymc3.distributions.continuous.Normal page only lists that you ca

[2019-02-28 05:26] kenjioman commented on #28
@junpenglao I just tried your fix above and it went back to being very slow (~5 or more seconds per iteration instead of 5-6 iterations per second, which the for loop solution had).  So, for my education:

Why is the for loop solution not good, or what benefits does the non-for loop solution provide?  Thanks again for your help!

[2019-02-28 06:41] junpenglao commented on #28
Usually, with a for loop of k steps you generate k theano node, and node building is usually expensive (especially when you have a lot of them).
In your case it is interesting, i dont know exactly why the for-loop is actually faster (in most cases using shape=... is faster). My guess is that it is because all betas are in a very large scale.
It would be interesting to know that:
- is the speed rel

[2019-02-28 16:40] kenjioman commented on #28
Sorry, I'm relatively new to pymc3 (and Bayesian modelling as well), so I'm not sure I fully understand your suggestion.  Are you suggesting something like:

[code]
for both a model with the for loop, and one with the shape term? (Also, from what I gather, I think I can define a model without the pm.sample line, so it can be defined without it taking forever -- is that correct?)  Or, is there some

[2019-02-28 16:44] junpenglao commented on #28
Yes, something like:
[code]

[2019-03-01 06:27] kenjioman commented on #28
Hi Junpeng!
    I just tried the timings you suggested, and found:

For the model with for loops:
`494 µs ± 190 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)`

And for the model without for loops
`5.28 ms ± 849 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)`

so, it looks like your suspicion was correct about the logp calculations taking longer in the no-for loop model.  Anyt

[2019-03-01 10:58] junpenglao commented on #28
Could you share the two model again?
It is a bit surprising - I am wondering what is happening in the graph optimization in the back.

[2019-03-01 17:21] kenjioman commented on #28
Sure!  Just so you can replicate it fully, the data used can be found at:
https://github.com/rmcelreath/rethinking/blob/Experimental/data/cherry_blossoms.csv

And the minimum code leading up to it is:
[code]

And then, for the two models/ the timings you wanted above:
[code]

[2019-03-01 17:24] kenjioman commented on #28
PS, I don't know if this is relevant, but I get this warning when I do my imports:
[code]

[2019-03-01 20:27] junpenglao commented on #28
Oh this is likely related! It seems your theano set up does not take full advantage of faster BLAS libraries.

[2019-03-01 20:32] junpenglao commented on #28
Hmmm, something funny is happening in the graph optimization: this is much faster
[code]

[2019-05-07 00:22] Netherdrake opened #31 "6.26 small mistake"
There is a minor mistake in 6.26. It should be calculating the % probability as area under normal < 0.

<img width="680" alt="Screen Shot 2019-05-07 at 2 21 25 AM" src="https://user-images.githubusercontent.com/3516903/57262995-1a833d00-706f-11e9-9855-d0499cc7cf0c.png">

[2019-05-07 23:35] #31 closed

[2019-05-16 10:40] twiecki opened #36 "Upgrade to PyMC3 3.6"
These should all be ported to work with recent pymc3 and arviz.

[2019-05-16 13:32] AlexAndorra commented on #36
I can help with that, since I'll also work on porting the exercices and/or homeworks.
From I understood though, there is a 3.7 version coming soon? If so, shouldn't we wait for it?

[2019-05-16 14:00] twiecki commented on #36
Yes there is, and there are actually some changes (mainly renaming `varnames` and `vars` to `var_names`). You can for now just use master which will look 99% like 3.7.

[2019-05-19 10:29] bluesky314 opened #37 "4.61"
In 4.61 what does this mean?:

```sample_ppc``` returns values corresponding to the input values (weights in this example). Because the weights are not ordered if we use them with the ```fill_between``` function we will get a mess. For that reason in the following cell we order the weights and the predicted heights

[2019-05-19 10:31] bluesky314 opened #38 "Splies for 2nd edition"
In the second edition, ch4, splines are covered which was not in the 1se edition.

Currently I am doing :
[code]
and then

[code]

However this is very very slow. Is there a quick way to do this?

[2019-05-19 20:06] aloctavodia commented on #37
The easiest way to understand this is to not order the weights and make a plot. You will see what I mean by "mess" . The reasons this happens is that to plot a line using something like matplotlib you plot a few points and linearly interpolate the values "in the middle". If the pairs [xi, yi] are not ordered (according to the x), then you will not get a straight line.

[2019-05-19 20:06] #37 closed

[2019-05-19 20:09] aloctavodia commented on #38
We are not working on the second edition yet, we will work on it when the author provides us with a more advanced draft of the book than the one already available. Questions like this are best suited to our [discourse](https://discourse.pymc.io/) so I am closing this issue.

[2019-05-19 20:09] #38 closed

[2019-05-25 07:04] LarryRiedel opened #40 "Statistical Rethinking 2nd Edition"
The new revision of the book, Statistical Rethinking 2nd Edition, is almost done, and the R code should not be changing much before it is published.  [https://xcelab.net/rm/sr2/](url)

[2019-05-25 14:36] canyon289 commented on #40
Thanks @LarryRiedel

Reposting link because the text doesn't match the actual URL
 https://xcelab.net/rm/sr2/

[2019-05-30 12:38] aloctavodia commented on #40
@LarryRiedel Thanks for the link and interest.

The author of Statistical Rethinking, Richard McElreath, have plans to keep working on that draft. He wants to have a more definite version by next September/October. We will start porting the code by that time.

[2019-07-02 05:27] vbartle opened #45 "resource in environment.yml"
Could help to add  `- "git+git://github.com/arviz-devs/arviz.git@master"` in the pip section? Got an arviz not installed error when running a notebook. Awesome work by the way!

[2019-07-02 07:14] junpenglao commented on #45
Agree, feel free to send a pull request ;-)

[2019-07-02 21:41] #45 closed

[2019-07-04 11:41] AlexAndorra opened #47 "Chp 11 exercises missing 11H5"
As discussed in #43 here is a reminder to complete this notebook with answers to 11H5 once the issue with Ordered Logistic is solved. I'll gladly do it
PyMCheers!

[2019-07-04 16:31] canyon289 commented on #47
I just wanted to stop by and say this your portmanteau made my day. Keep up the good work

[2019-07-04 19:19] AlexAndorra opened #50 "Chp 12 exercises missing last 2 problems"
As discussed in #43 here is a reminder to complete this notebook with answers to last two problems once the issue with Ordered Logistic is solved. I'll gladly do it
PyMCheers!

[2019-07-19 09:48] chdamianos opened #53 "Chapter 13 posterior covariance in Code 13.15"
This issue is in regard to the code of book Statistical Rethinking A Bayesian Course

The calculation of the posterior covariance in Code 13.15 does not agree with the calculation shown in the book (page 396). This is because in the current implementation `L_chol` is calculated as an upper triangular matrix and not a lower one as in the model (`m_13_1`) specification. The calculation might be clea

[2019-07-23 16:47] lucianopaz commented on #47
FYI, @AlexAndorra, I just opened a [PR](https://github.com/pymc-devs/pymc3/pull/3563) that should fix this error

[2019-07-23 17:31] AlexAndorra commented on #47
Yeah I just saw that @lucianopaz :tada: Thank you, that's awesome!
When it's merged, I can go on and fulfill my destiny: finish chapter 11 and 12 exercises!

[2019-09-09 19:23] StevenLi-DS opened #57 "watermark: extension to easily display versions"
There is a jupyter extension to easily display versions:

https://github.com/rasbt/watermark

[2019-09-11 06:06] #53 closed

[2019-09-11 10:31] AlexAndorra commented on #57
Just tried it, very useful, thanks Steven!
Depending on what others contributors of this repo think, I can add it to requirements.txt.

As long as we're sharing, I'm using this [jupyter extension to black-format](https://github.com/dnanhkhoa/nb_black) my notebooks - very cool. No need to add to requirements though, as long as we blackify locally.

[2019-09-11 14:02] canyon289 commented on #57
Hey Steven and Alex,
That extension is great for one off notebooks, I use it myself. In this repo we have the env file though which is pretty sparse but perhaps we need to actually add the versions in.

https://github.com/pymc-devs/resources/blob/master/environment.yml

Do you think that would achieve the same purpose?

[2019-09-11 14:34] AlexAndorra commented on #57
Hey Ravin!
I think this is just to replace the last cell of each notebook (where we explicit the versions used to run the NB). Watermark would provide a quicker, simpler and more robust way to do it. Using it would imply adding it the repo's dependencies though, or else users won't be able to run the NBs. In any case, this is only for informational purposes.

If we want to enforce specific package

[2019-10-09 04:27] rybyrnes opened #58 "Chapter 9 book != Chp_09.ipynb"
It looks like `Chapter 10 book == Chp_09.ipynb`, `Chapter 11 book == Chp_10.ipynb` and ...

maybe more are misaligned but I was just looking now for the MCMC stuff from Chapter 9.

However, `Chapter 9 book != Chp_08.ipynb` code 8.1...looks like then its actually matching the book chapter 8.

[2019-10-09 12:55] #9 closed

[2019-10-09 12:58] aloctavodia commented on #36
"Rethinking" has been updated, but BDA3 and BCM are still outdated, right?

[2019-10-09 13:03] aloctavodia commented on #58
I do not see this problem. Maybe you are reading from a draft version of the first or second edition?

[2019-10-09 13:03] #58 closed

[2019-10-09 13:42] junpenglao commented on #36
I will do an update on BCM from pymc3 master.

[2019-10-11 19:12] AlexAndorra opened #59 "Softmax implementation in chapter 10 is wrong?"
I wonder if the softmax regressions implementation in chapter 10 is right. In `Code 10.57` it reads:
[code]
but I think this should be:
[code]
Otherwise, the model is over-parametrized, isn't it? You just need 2 categories to infer the respective probabilities of all 3.
Also, I think the link function should be softmax, not sigmoid (this is also the case in `Code 10.58`).

I can send a PR if these

[2019-10-11 21:03] junpenglao commented on #59
I think we are following the original modeling approach but you are right it is over-parameterized. You should definitively send a PR to edit or add a new code block to explain this.

[2019-10-11 21:46] AlexAndorra commented on #59
Great, will do ASAP 👍
(FYI, I just checked and Richard does use the "zero-trick" in the original modeling approach)

[2019-10-15 22:04] #59 closed

[2019-10-15 22:05] AlexAndorra commented on #59
Closed by #60

[2019-11-10 20:20] dwanneruchi opened #61 "Ch 3 plots"
I have been working through Statistical Rethinking & have found your notebooks very helpful! I was able to get some of the intervals of defined boundaries & intervals of defined mass plots built (section 3.2.1 and 3.2.2), specifically figure 3.2. Is this something of interest in a pull request?

Thanks

[2019-11-11 00:37] canyon289 commented on #61
Yes it is! Feel free to open one up. Thank you for asking!

On Sun, Nov 10, 2019 at 12:20 PM dwanneruchi <notifications@github.com>
wrote:

[2019-11-15 21:14] dwanneruchi commented on #61
Great, PR went through! Today I was able to replicate Fig 3.7 in Python so might try to include that as well in a future PR.

[2019-11-15 21:14] #61 closed

[2020-01-11 22:28] AlexAndorra opened #67 "Outline of Rethinking2 chapters"
As discussed with @aloctavodia, here is an outline of chapters we're porting to PyMC3 for _Rethinking_ 2. This way we can keep track of where we are -- let's **comment** below **when we start** porting a new chapter, and **check the box when the chapter is merged**.

- [x] Chapter 2 -- Small Worlds and Large Worlds
- [x] Chapter 3 -- Sampling the Imaginary
- [x] Chapter 4 -- Geocentric Models
- [x

[2020-01-11 22:31] AlexAndorra commented on #40
I think we can close this issue, as we're now working on porting the 2nd edition

[2020-01-11 22:33] AlexAndorra commented on #36
Where are we on this? Can we close? Asking because it looks like most NBs were updated.

[2020-01-13 13:39] aloctavodia commented on #36
BCM needs to be updated. I will do it

[2020-01-13 13:57] #40 closed

[2020-01-14 11:21] aloctavodia opened #68 "(de)centralize environments"
Currently we have a global environment file. And then some of the books/folders have other environments (BCM, BDA3 and rethinking) but others do not have (BSM, rethinking2).

We should check if the requirements are correct and add [watermark](https://github.com/rasbt/watermark) package.

[2020-01-14 13:35] AlexAndorra commented on #68
IMO we should completely decentralize environments: no global file and only local env files, tailored to each book/folder. That way, managing envs will be easier: we'll be able to change Rethinking2 packages without messing up those for BDA3 for instance.

[2020-01-19 20:45] aloctavodia commented on #67
I will work on Chapter 7 -- Ulysses' Compass

[2020-01-20 05:44] canyon289 commented on #67
Claiming Chapter 5 and 6

[2020-01-20 07:07] AlexAndorra commented on #67
Perfect, I'm gonna work on chapters 11 through 15!

Le lun. 20 janv. 2020 à 06:44, Ravin Kumar <notifications@github.com> a
écrit :

[2020-01-27 17:46] bradleyfay opened #70 "Adding new resources?"
Was wondering if there was any initiative to add resources related this book by Gelman.

Thanks!

https://www.amazon.com/Analysis-Regression-Multilevel-Hierarchical-Models/dp/052168689X

[2020-01-27 19:55] canyon289 commented on #70
There is not that I know of! You're welcome to open a PR and start adding
content if you like! Let us know if there's any questions with format of
the repo or contributing guidelines etc. Its a bit more of the unstructured
in this repository versus the official pymc3 one

On Mon, Jan 27, 2020 at 9:47 AM Bradley Fay <notifications@github.com>
wrote:

[2020-03-14 20:04] drussellmrichie opened #74 "Implementing exercise 6.3.3 of Bayesian Cognitive Modeling"
Thanks for providing the pymc3 code to this book. It's been a lot of fun going through it!

I'm trying to modify the code to the twenty questions model to use the Rasch model of question accuracy for exercise 6.3.3, but I'm not sure how to do this, and googling has been little help. It seems like something like this should be possible....

[code]

But of course there is no tt.sub.outer. Any help i

[2020-04-11 07:13] adamcc opened #77 "Trouble installing environment"
I'm having trouble installing the environment.

There were some more pip errors, and then when I tried to activate the environment, I got:

Should I try to install PyMC3 in my deafult environment instead?

[2020-04-12 07:58] adamcc commented on #77
OK, I think that problem is because the environment name is different from what it says on the homepage.

[2020-04-12 22:08] rpgoldman opened #78 "BDA3 Chapter 3 discussion of Effective sample size is flawed (needs update)"
I was running through the notebook for Chapter 3, and examining the "Example. Pre-election polling" section.  This uses a no longer available PyMC3 API function to compute `n_eff`.  I tried changing this to use the corresponding arviz function `az.stats.ess`, and got the anomalous results in the following screen-grab.  Specifically, the `pm.summary()` measures of ESS and the `az.stats.ess()` measu

[2020-04-12 22:18] aloctavodia commented on #78
Hi @rpgoldman, notice that the default method for `az.ess` is `bulk` and those values agree (within the rounding error) with the ones reported by `pm.summary` in your example.

I agree we should update the examples and we should also directly use arviz functions when possible.

[2020-04-12 22:20] rpgoldman commented on #78
@aloctavodia Hi.  I just updated my issue report as I discovered that the ESS was "bulk," not "mean." I also tried to more clearly state what I think is the problem and what I think could be done to improve matters.

A person who has only gotten to chapter 3 of BDA is likely not to understand how sampling should be diagnosed...

[2020-04-12 22:22] rpgoldman commented on #78
Also note that we *must* use the arviz function here -- the PyMC3 one no longer exists (or it has been renamed).

[2020-04-12 22:28] rpgoldman commented on #78
@aloctavodia BTW, this is leading me to patch the Arviz docs for the `ess` function.  One thing that is odd in there is that it describes the `var_names` as

I think this should just be "names of variables for which to compute ESS", right? I'm betting the `effective_sample_size_mean` is obsolete, since we offer multiple methods, not just mean.

[2020-04-12 22:32] aloctavodia commented on #78
@rpgoldman I totally agree with the statement "A person who has only gotten to chapter 3 of BDA is likely not to understand how sampling should be diagnosed..." But I think the main purpose of these "resources" is to provide a port of the code used in BDA and other books to PyMC3/4/ArviZ, not sure we should "complement" the content of those books here. Maybe we can add a few lines saying something

[2020-04-12 22:36] rpgoldman commented on #78
Sure, I'll try a PR, but it will *definitely* need a review!

[2020-04-12 22:53] rpgoldman commented on #78
@aloctavodia If you get a chance, please see my Arviz docstring fix (I don't have permissions to assign it to you for review).

[2020-04-12 23:37] aloctavodia commented on #78
Sure, thanks! I will do.

[2020-04-13 13:47] aloctavodia commented on #77
Hi @adamcc sorry about the confusion. I have just created a Pull request to have one environment file per folder/book and remove the central environment (pymc3_resources). This should help people in the future.

Regarding your current problem. You could try with this [environment.yml](https://github.com/pymc-devs/resources/blob/master/Rethinking/environment.yml) file. Or you could run `conda insta

[2020-04-13 15:09] #77 closed

[2020-04-13 15:17] adamcc commented on #77
Thanks Ozvaldo, very rapid turnaround! Much appreciated. I can get back to it later this week and update you.

[2020-04-14 05:19] nilichen commented on #67
I’d like to work on the rest 8-10.

[2020-04-14 08:39] AlexAndorra commented on #67
Hi Katrina,
I think these chapters are indeed available, so thanks for your help! And don't hesitate to ask us should you have any questions :)

I also checked the box of merged/ready-to-merge chapters above 👌
Continuing my journey with chapter 13 🎉

[2020-04-20 11:51] #68 closed

[2020-04-20 11:51] #57 closed

[2020-04-20 11:54] aloctavodia commented on #36
I offered myself to update BCM, but I never find the time, sorry :-( Does anyone else have the time to update it?

[2020-04-20 11:55] aloctavodia commented on #5
Is this still a problem?

[2020-04-20 12:58] AlexAndorra commented on #36
Maybe I could do it, but I didn't read that book -- is that a problem? The idea is just to update the syntax to new versions of PyMC and ArviZ?

[2020-04-20 13:31] aloctavodia commented on #36
Yes, that's the idea. Thanks for your help

[2020-05-03 18:09] canyon289 commented on #67
Hi, I'll take 15 and 16!

[2020-05-03 18:16] canyon289 commented on #67
@nilichen Welcome! I added your handle to those chapters to indicate they've been claimed by you. Welcome to the community and thanks for the contributions!

[2020-05-03 19:39] oscarbranson commented on #67
Hi folks. I'm the egit that just submitted a PR for Chapter 6 without noticing this thread...

I'm happy to contribute more, but it looks like they're all spoken for... want to throw any my way? Preference for 7-10, as that's the stage I'm at in the book. Can I take one off your hands, @nilichen?

[2020-05-03 21:11] aloctavodia commented on #67
@oscarbranson do you want to work on chapter 7? I was supposed to work on that, but I will not have the time for the moment. So, if you want to work on that I will be happy to review your PR, or help if you find some problem.

[2020-05-03 21:26] oscarbranson commented on #67
Sure thing @aloctavodia. That's actually perfect - I'm working my way through the book and chapter 7 is up next!

Should have a PR up in the next day or two.

[2020-05-18 20:06] oscarbranson commented on #67
I'm in the process of going through Chapter 8 for my own purposes... mind if I set up a PR, @nilichen?

[2020-05-18 20:08] nilichen commented on #67
Sure go ahead please. Thanks!

On Mon, May 18, 2020 at 1:06 PM Oscar <notifications@github.com> wrote:

[2020-05-19 00:02] oscarbranson commented on #67
Chapter 8 ready for review (#88)!

[2020-05-19 09:23] oscarbranson commented on #67
Similarly Chapter 9, @nilichen? I'm going through it today anyway...

[2020-05-19 17:01] karnn opened #90 "TypeError on import TypeError: data type "float128" not understood"
On Windows, Anaconda 4.8.3. Created conda environment with `conda env create -f environment.yml
` inside Rethinking_2 directory.

Doing `import pymc3` gives the following error

[code]

[2020-05-19 19:02] AlexAndorra commented on #90
Hi,
That's strange -- it works for me 🤔
Do you know which versions of python and numpy are on your env?

[2020-05-19 19:21] karnn commented on #90
Hi
Thanks for your reply. I just checked and my Python is at 3.8.2. I suppose it's too recent? I directly installed from the yml file in the repo. It's strange. Numpy is  1.18.4

[2020-05-19 19:27] lucianopaz commented on #90
Oh damn! It's a [windows bug](https://github.com/winpython/winpython/issues/613). Numpy under windows doesn't have a `float128`, we should use the `longdouble` dtype instead. That will be equal to `float128` on Linux but it will equal `float64` on windows. It we could even just remove `float128`. @karnn, could you please open an issue on pymc3? I'll fix it in the next few days.

[2020-05-19 20:08] AlexAndorra commented on #90
These OS bugs keep coming 🤦 It's indeed related to your latest PR @lucianopaz.
Assign me to review the fix when you submit it -- or tell me if you don't have time in the coming days and I can take a stab (looks pretty simple).
Closing this in favor of the issue on PyMC repo.

[2020-05-19 20:08] #90 closed

[2020-06-01 01:07] sushmit86 opened #92 "Chapter3: posterior_grid_approx function"
Should the function posterior_grid_approx have the prior as

`prior = np.repeat(1, grid_points)  # uniform`
The solution has the prior as

`prior = np.repeat(5, grid_points)  # uniform`

[2020-06-01 11:23] aloctavodia commented on #92
The actual value does not matter, if you compute the posterior as proportional to the likelihood * prior, you will be changing the constant of proportionality, but the relative posterior values will be the same. If instead you normalize the posterior, then the normalization will take into account the 1 or 5 factor.

If you really want the prior to be a valid pmf then instead of 1 it should be np.r

[2020-06-01 14:11] canyon289 commented on #92
@sushmit86 I mean this in the kindest way. Try changing the value in the code and see what happens :)

[2020-06-02 12:36] #92 closed

[2020-06-02 18:05] sushmit86 commented on #92
Thanks so much. I had thought so the prior should not matter

[2020-06-04 09:14] oscarbranson commented on #67
In case it lost in the confusion of my messed up PR, and in case anyone has time to review it, Chapter 9 is now ready for review on #91!

[2020-06-07 08:35] hkoohy commented on #74
thank you, I had the same question, your solution helps getting the code work, thank you for that.
Thought the posterior for qj from Rasch model is not consistent with the first simple model and actually deosnt make sense.For example Q5 has not been answered by any person yet gets very high posterior!
I wonder you also get the same figure?
![Screenshot 2020-06-07 at 09 34 53](https://user-images.g

[2020-06-07 16:55] drussellmrichie commented on #74
Hi, it's been a little while since I thought about this dataset, but I think in the Rasch model qj is question difficulty, not ease (as it is in section 6.3 of the text). So I think a high posterior for question 5 makes sense. And that's why question 10 (question J), which 6/10 people got right (the highest rate of any question) has a low posterior.

[2020-06-08 20:01] AlexAndorra commented on #67
Hi @oscarbranson! Thanks for your work and for the heads-up, and sorry for not replying earlier -- we're all being a bit swamped these days 😩
@aloctavodia will try to review your PR this week, and if he can't I'll try to do it 😉

[2020-06-12 08:08] ibobak opened #93 ""Doing Bayesian Data Analysis" by Kruschke"
There is a nice repo for a book of John Kruschke "Doing Bayesian Data Analysis"
https://github.com/aloctavodia/Doing_bayesian_data_analysis

I think it would be good to set at least the link to this resource on the readme page, or to import the code and the notebook to your repo.

[2020-06-12 14:10] canyon289 commented on #93
Hey!
Pull requests are welcome! Feel free to make one to add this to the README

On Fri, Jun 12, 2020 at 1:08 AM Ihor Bobak <notifications@github.com> wrote:

[2020-07-13 14:06] JeroenSchmidt opened #97 "Rethinking2 - Ch5 - Inconsistant Notebook Outputs"
I'm quite new to pymc3 so apologies if this is a dumb question.

I'm going through the code examples for the Statistical Rethinking 2 book and I noticed that the plots within the repo are not the same as the plots I get when I run the notebook.

I made sure to install the conda enviroment from the yml within this repo.
[code]

**Code 5.3**

**Within the repo**
![image](https://user-images.githubus

[2020-07-13 14:17] #97 closed

[2020-07-14 12:33] aloctavodia commented on #97
Chains are different runs of the sampler. The purpose of having more than one chain is diagnostics, either visual (for example you check that KDE/traces looks similar) or numerical like computing r hat.

[2020-08-06 07:24] Zhou-haiyang opened #101 "a prior distribution which has two parameter"
I have a function ：Y = beta_1+beta_2 * X
and I want to construct a prior beta = (beta_1 , beta_2) iid Normal (mu, covariance matrix）
how to deal with this problem
[https://www.sciencedirect.com/science/article/pii/S0142112320300426](url)
https://doi.org/10.1016/j.ijfatigue.2020.105511

[2020-08-06 08:03] AlexAndorra commented on #101
Hi,
Thanks for your question. As this is more a modeling one than an issue with the code in this repo, can you please post it to [our Discourse](https://discourse.pymc.io/)?
Thanks and have a nice day 🖖

[2020-08-06 08:03] #101 closed

[2020-08-06 11:16] aloctavodia commented on #67
I will work on Chapter 10.

[2020-08-07 13:07] yongduek opened #102 "resources/Rethinking_2/Chp_05.ipynb"
1. 5.13 (In [23])
  - the observation variable is 'Marriage_std', so its name should have been 'Marriage_std' instead of 'divorce_std'.
  - below is the code 5.13.
[code]

2. 5.15 (In [25])
  - this cell is about posterior predictive check for the observation variable 'divorce_rate_std' whose model number is `m_5_3` (as indicated `m5.3` in the book)
  - so, 5_4 in the whole cell should be replaced

[2020-08-13 08:13] yongduek opened #104 "BCM/ParameterEstimation/Binomial.ipynb"
This is just a small thing about the last cell of `BCM/ParameterEstimation/Binomial.ipynb` added as a part of **Note from Junpeng Lao**.

The length of `divergent` below was 4000 when I printed its size, which corresponded to 1000 samples of 4 traces. So I guess `divperc` should have been 357/4000 = 9.125% instead of 35.7%.

[code]

Many thanks for sharing the pymc3 codes.

[2020-08-16 02:09] santiagoalonso opened #105 "BDA3 Chapter 5"
I think that the reproduction of Table 5.3 and Figure 5.8b should be with posterior estimates. Currently is with posterior predictive estimates.

[2020-08-19 11:33] aloctavodia commented on #50
Is this still an issue?

[2020-08-19 11:33] aloctavodia commented on #47
Is this still an issue?

[2020-08-19 11:34] #36 closed

[2020-08-19 11:35] #2 closed

[2020-08-19 11:35] #5 closed

[2020-08-19 11:38] aloctavodia commented on #70
There is an ongoing effort to add [Regression and other stories](https://www.cambridge.org/core/books/regression-and-other-stories/DD20DD6C9057118581076E54E40C372C) here https://github.com/bambinos/Bambi_resources

[2020-08-19 11:38] #70 closed

[2020-08-19 11:39] #93 closed

[2020-08-19 12:45] AlexAndorra commented on #47
The underlying issue is solved on PyMC, but the exercise is still missing from this repo. As this is for the first edition though, I suggest closing and taking care of exercises for the second edition -- of course, if a volunteer wants to finish this, she's welcome but I think it's less of a priority 🙂

[2020-08-19 12:45] #47 closed

[2020-08-19 12:45] AlexAndorra commented on #50
The underlying issue is solved on PyMC, but the exercises are still missing from this repo. As this is for the first edition though, I suggest closing and taking care of exercises for the second edition -- of course, if a volunteer wants to finish this, she's welcome but I think it's less of a priority 🙂

[2020-08-19 12:45] #50 closed

[2020-08-22 22:07] clausherther opened #106 "Rethinking_2/Chp_08.ipynb - stats.credible_interval is not a valid rc parameter"
FYI, trying to run `Rethinking_2/Chp_08.ipynb` I get the following error while trying to set ArViz configuration parameters:

[code]

[code]

I'm using these package versions:

[code]

[2020-08-22 23:23] #106 closed, assigned to nobody

[2020-08-24 11:42] AlexAndorra commented on #102
Thanks for reporting this @yongduek ! Do you feel like doing a PR to fix it?

[2020-08-24 11:45] AlexAndorra commented on #105
Thanks for reporting this @santiagoalonso ! Do you feel like doing a PR to fix it?

[2020-09-09 15:21] ricardoV94 commented on #67
I have implemented a working version of the "16.2. Hidden minds and observed behavior" model if it is still needed. I am not interested in the rest of the chapter, so I wouldn't "claim it entirely".

[2020-09-09 15:47] canyon289 commented on #67
@ricardoV94 Feel free to open a PR adding just that and I can modify the header of this issue to indicate 16.2 is partially compelted!

[2020-10-03 02:02] michaeloriordan commented on #67
Hi all, I'm nearly finished working my way through chapter 15 and would be happy to open a PR when I'm done, if this is needed?

[2020-10-03 17:32] AlexAndorra commented on #67
@michaeloriordan , that'd be more than welcome! Looking forward to your PR then, and let us know if you have questions 😉

[2020-10-21 16:11] ricardoV94 opened #117 "Rethinking2 Chapter 11 Multinomial model 11.3, different prior for beta parameter is used"
Just wanted to mention that the first model in section 11.3 is slightly different than the one described in the book (I am not talking about the justification to use a different category as the pivot). In the original STAN model the beta coefficient has a lower bound of zero, which is what forces it to be positive.

I think the original model has other issues (such as ignoring the numerical inform

[2020-10-21 17:50] AlexAndorra commented on #117
Thanks for your insight @ricardoV94 ! Indeed this original model has some problems. I did try to bound the `b` coefficient but (I don't remember why exactly but I remember banging my head against the wall quite a lot 😅 ) this didn't work at all -- I think it's related to the choice of pivot.

I reached out to R. McElreath about this but he never answered. So I opted for the model that seemed the m

[2020-10-22 07:34] ricardoV94 commented on #117
A better model would be the one that actually corresponds to the data generating process. To achieve that it should include the income information off all categories:

[code]

The model above runs just fine and makes correct inferences. Equivalently, if you want to shift one of the categories to be zero before the softmax transformation (which is not needed), you should do the following:

[code]

[2020-10-22 08:42] AlexAndorra commented on #117
Thanks a lot @ricardoV94, this is makes sense and is very interesting!
Wanna make a PR to implement this in the NB? Also, do you happen to have a reference that helped you clear that confusion between the two types of multinomial models?

[2020-10-22 08:58] ricardoV94 commented on #117
I can do the PR if you think it makes sense to include this model which is different from the one implemented in the book (I guess the current one is already different).

Two sources really helped me out clear my confusion:

* Hoffman, S. D., & Duncan, G. J. (1988). Multinomial and conditional logit discrete-choice models in demography. Demography, 25(3), 415-427. [pdf link](https://www.jstor.org/

[2020-10-22 09:41] AlexAndorra commented on #117
This is super useful! Honestly, I think this would clearly be valuable to make a PR out of it (and you can briefly summarize the problem and differences as you did there + link to the two references).
As the original model from the book seems to have issues, me might as well err towards a stratistically sounder one, while expliciting our choice -- and as you said, the PyMC3 model is already differ

[2020-10-22 10:12] ricardoV94 commented on #117
Will do ;)

[2020-10-27 15:14] AlexAndorra opened #120 "Implement NB formatting pre-commit checks in CI"
**This issue is up for grabs**

That'd be great to implement here the automatic formatting checks we do on NBs on the main PyMC3 repo.
This means using using `isort` and `black` via the [`nbqa` package](https://github.com/nbQA-dev/nbQA) to get a consistent codebase and allow maintainers to focus on substance instead of style while reviewing PRs.

Ideally, we would have the same process as outlined

[2020-11-07 15:45] #120 closed

[2020-11-11 19:33] jdmoore7 opened #124 "Ch4 Patsy usage"
In section 4.74, the following code block is used:
[code]

- I'm confused why `knot_list[1:-1]` is used; not explained in official textbook (to my knowledge) or in code block.
- Not clear on why `-1` was used in the formula-like string provided.

 From Patsy official documentation:
https://patsy.readthedocs.io/en/latest/API-reference.html#patsy.bs

However, I've tried both variants, noting that th

[2020-11-12 11:34] MarcoGorelli opened #125 "Add black formatter to .pre-commit.config"
xref this comment https://github.com/pymc-devs/resources/pull/118#issuecomment-726018519

If you're not running pre-commit checks during CI (there's still lots of notebooks that need updating), then even just putting the desired checks in `.pre-commit-config.yaml` might be a good idea so that for any new notebooks which are added, contributors can simply run
[code]
without having anything other th

[2020-11-12 11:54] AlexAndorra commented on #125
Hey @MarcoGorelli !
I'm a bit confused: wasn't this setup already done with PR #123 ? I was under the impression that with this PR merged, checks against isort/black/pyugrade would be run by `pre-commit-ci`?
And in case of failures, contributors would indeed just have to run `pre-commit run --files  <notebooks>` locally (at least until we allow `pre-commit-ci` to do the changes itself). Am I mista

[2020-11-12 12:52] MarcoGorelli commented on #125
#123 just added 'isort' and 'pyupgrade' still need to do 'black' so this is just here as a reminder

[2020-11-12 13:30] AlexAndorra commented on #125
Ah ok, thanks for the clarification 👌

[2020-12-06 02:38] joannadiong opened #129 "Rethinking_2 Chp_4: Different pymc3 output between notebook and local run"
Hi there. I ran the following code sections in my IDE and obtained different output to the output in the Jupyter notebook.

**To Reproduce**
For example, I ran:
[code]
And obtained the following output, compared to the output in the notebook. The decimal place values differ between them:
[code]

There were also numeric differences in the decimal place values for the variance-covariance matrix, var

[2020-12-06 03:07] aloctavodia commented on #129
Hi @joannadiong thanks for getting in touch. I am very happy that these resources are useful to you.
Regarding your question, I think that differences are within the expected range. The method used by PyMC3 to compute the posterior (NUTS) is an stochastic method, thus each time you run it you will get slightly different results. You can fix the random seed used by pm.sample with the argument "rand

[2020-12-06 19:52] joannadiong commented on #129
Hi @aloctavodia, thanks for the detailed and helpful explanation. I can manage those fixes and will keep working through the book.

For where I'm at in the book now, there are minor fixes needed for the notebook:
[code]
And `trace_to_dataframe` will soon be removed, which will break here:
[code]
but I think there is an [open issue](https://github.com/pymc-devs/pymc3/issues/3907) for this.

I'm not

[2020-12-07 15:55] gabipana7 opened #130 "Rethinking 2 - Chapter 4 - Code 4.61 Plots not on same canvas"
The arviz plots here:
`plt.scatter(d2.weight, d2.height)
az.plot_hpd(weight_seq, mu_pred.T)
az.plot_hpd(d2.weight, height_pred["height"])
plt.plot(weight_seq, mu_mean, "k")
plt.xlabel("weight")
plt.ylabel("height")
plt.xlim(d2.weight.min(), d2.weight.max());`
Do not output on the same figure as you have in your notebook. In my notebook everythime I call an az.plot_hdp ( changed to az.plot_hdi ) it

[2020-12-07 15:59] gabipana7 commented on #130
Nevermind, I found out how to do it, after hours of searching
`ax = az.plot_hdi(d2.weight, height_pred["height"])
az.plot_hdi(weight_seq, mu_pred.T, ax=ax)`
So you just add the 'ax=' on the first one, and add ax=ax to the second one, if anyone else has the problem. I don't know why it works, but it works !

[2020-12-07 16:45] aloctavodia commented on #130
Thanks for reporting this. The issue is related to arviz-devs/arviz#1452. In previous versions, ArviZ automatically got the axes, but then we made a change that requires users to manually pass the axes. Once the mentioned issue gets merged this will be the case again. So I am keeping this issue open until that.

[2020-12-08 09:45] #117 closed

[2020-12-08 10:59] aloctavodia commented on #129
Thanks for the report, this is all useful feedback. We should update the notebooks to directly work with ArviZ's InferenceData object.
Looking forward to more contributions from you. Let us know if you need help of have more doubts.

[2020-12-08 11:07] #130 closed

[2020-12-08 13:25] #129 closed

[2020-12-09 08:04] MarcoGorelli opened #131 "Invalid syntax in BCM/CaseStudies/MemoryRetention.ipynb"
When running it I get
[code]

indeed, cell 3 assigned a numpy array to...the integer 1 :rofl:

Will look into it

[2020-12-18 21:17] rroberts76 opened #133 "Solved Exercises for Chapters 3-"
Are there solved problems for end of chapter exercises for Chapters 3-9?

[2020-12-18 22:23] AlexAndorra commented on #133
Hi @rroberts76 ! Yes, @AidanMar [is working on this](https://github.com/pymc-devs/resources/pull/119) 🎉
If you want you can jump in and help him for further chapters, starting from chapter 10?

[2020-12-23 15:21] rroberts76 commented on #133
Would be happy to help to the best of my ability.  I am quite a novice, so
caveat emptor.

On Fri, Dec 18, 2020, 17:23 Alexandre ANDORRA <notifications@github.com>
wrote:

[2021-01-04 18:34] #133 closed

[2021-01-17 01:40] #102 closed

[2021-01-24 06:33] joannadiong opened #141 "[WIP]: Rethinking_2: trace_to_dataframe() deprecation, move to InferenceData"
`trace_to_dataframe()` in PyMC3 to save traces is currently implemented in Rethinking_2 notebooks (e.g. Chp_04). But the function is planned for deprecation, with Arviz being the intended package to save traces. As per [this comment](https://github.com/pymc-devs/pymc3/issues/3907#issuecomment-748897727) by @AlexAndorra, Arviz's InferenceData format is a superior replacement to this function as it

[2021-01-24 10:43] AlexAndorra commented on #141
Thanks @joannadiong ! Yeah, what you're laying out sounds like a good plan.
If you want, what we can do is that you open a WIP PR implementing the changes you have in mind and that work, and you also flag the parts where you're more hesitant or can't find how to do. Sounds good?

[2021-01-25 09:49] joannadiong commented on #141
Hi @AlexAndorra , thanks for the speedy reply.
Sounds like a good approach. Will keep this on my TODO list and hope to be in touch when ready. Cheers!

[2021-02-26 16:15] jma7889 opened #148 "Code 16.8 RecursionError: maximum recursion depth exceeded"
<img width="765" alt="Screen Shot 2021-02-26 at 11 13 30 AM" src="https://user-images.githubusercontent.com/225801/109325448-ef5d7500-7823-11eb-8000-ee32d3eb63e4.png">
<img width="1013" alt="Screen Shot 2021-02-26 at 11 14 09 AM" src="https://user-images.githubusercontent.com/225801/109325454-f2586580-7823-11eb-9d73-e9fe712de05b.png">
Not sure it's a bug or not, got this error everytime.

[2021-04-20 18:32] jdw8 commented on #92
I think the problem is not with does it work, but that a prior is a probability distribution which should have an area under the curve of 1 and not 5.

[2021-05-25 09:07] JaimeArboleda opened #151 "Trouble importing pymc3"
First of all, thanks for this wonderful package and for the effort of adapting the R code in those bayesian books to Python.

I am trying to use the Rethinking_2 code examples. I have cloned the full repo and then I have followed the instructions:

[code]

But then, when opening the jupyter notebook of the second chapter, the first cell fails when trying to to the imports:

[code]

I have the foll

[2021-06-01 18:08] jdw8 opened #152 "Resources/Rethinking_2/Chp_04.ipynb"
Resources/Rethinking_2/Chp_04.ipynb

block 4:
sns.distplot(x[1:4, :], kde_kws={"bw": 0.01}, ax=ax[0], hist=False)
sns.distplot(x[1:8, :], kde_kws={"bw": 0.01}, ax=ax[1], hist=False)
sns.distplot(x[1:, :], kde_kws={"bw": 0.01}, ax=ax[2], hist=False)

should be
sns.distplot(x[4, :], kde_kws={"bw": 0.01}, ax=ax[0], hist=False)
sns.distplot(x[8, :], kde_kws={"bw": 0.01}, ax=ax[1], hist=False)
sns.dist

[2021-06-05 11:44] harcel commented on #151
Hi @JaimeArboleda!

I can reproduce that behavior. It is because the pymc3 version referenced (pip installed from github) wants to use aesara, rather than theano-pymc (which is probably what you should want to use for another while). Installing the current (3.11.2) version from conda-forge would be the quickest way to get a working environment for now.

If it helps, I copy-paste a parameter file b

[2021-06-07 08:38] JaimeArboleda commented on #151
Thank you so much harcel!!!!!! It worked perfectly! :)

[2021-06-07 08:38] #151 closed

[2021-07-02 16:09] fonnesbeck commented on #90
I'm getting this on MacOS (M1 hardware) using miniforge. This is with NumPy 1.21.0.

[code]

[2021-07-06 11:34] MbMeric opened #153 "Creating Environment Conda"
Hello. i'm stuck at very beginning.
When I want to set up an environment from the environment.yml file, I get the following error.
`conda env create -f environment.yml`
after that command prompt will return like this:
[code]

i suspect the git version and install it but nothing changed.
Any idea ?

[2021-07-06 11:38] MarcoGorelli commented on #153
Hey @MbMeric - this is likely because pymc has switched from `master` to `main`

Do you want to make a pull request to fix this in the environment.yml file?

[2021-07-06 11:43] MbMeric commented on #153
I'm just a few days old software student and not very familiar with the terms. If I change pymc@master to pymc@main, which I understand from what you said, it can be fixed.

[2021-07-06 11:54] MarcoGorelli commented on #153
That's fine, there's a ton of tutorials on how to do this e.g. https://youtu.be/rgbCcBNZcdQ - feel free to ask for help

[2021-07-06 11:58] MbMeric commented on #153
thanks it's fixed . Changing pymc@master to pymc@main worked. thanks for your help and i will learn to make a pull request.

[2021-07-06 11:58] #153 closed

[2021-08-02 20:23] yiftachn opened #157 "Resources/Rethinking_2/Chp_04.ipynb - Question"
Why are we substracting max(post_prod) in :
post = np.mgrid[150:160:0.05, 7:9:0.05].reshape(2, -1).T

likelihood = [
    sum(stats.norm.logpdf(d2.height, loc=post[:, 0][i], scale=post[:, 1][i]))
    for i in range(len(post))
]

post_prod = (
    likelihood
    + stats.norm.logpdf(post[:, 0], loc=178, scale=20)
    + stats.uniform.logpdf(post[:, 1], loc=0, scale=50)
)
post_prob = np.exp(post_prod -

[2021-08-04 08:52] aloctavodia commented on #157
To avoid overflow, this keeps the exponentiated numbers small, because we only care of the relative values of post_prod subtracting a constant is not a problem

[2021-08-04 08:52] #157 closed

[2021-10-04 07:46] ogrisel commented on #90
For reference, on macOS ARM64 (Apple Silicon M1), float128 is not supported on numpy (at least when installed from conda-forge):

[code]

So it would be great to make float128 support an optional requirement for PyMC3 and pymc.

[2021-10-04 07:53] ricardoV94 commented on #90
Which version are you using? If I recall correctly our next release dos not use float128 anywhere, so it should not be a problem.

[2021-10-24 00:45] Jaskanwal opened #163 "Chapter 5 Code 5.19: Effect of marriage on Divorce"
In code 5.19, it feels like the effect of marriage on divorce should be captured as follows:
```mu = pm.Deterministic("mu", a + bA * age_shared + bM * marriage)```
i.e., the variable `marriage_shared` should be replaced by `marriage`.  This can have an effect on contractual plots due to A->M->D dependence.

[2021-10-26 13:02] rasoolianbehnam opened #164 "Chp_14 potentially incorrect covariance functions"
I could be wrong but I believe in Chp_14.ipynb cell 72, the covariance function
`SIGMA = etasq * pm.gp.cov.Exponential(input_dim=1, ls=rhosq)`
is not correct since it only takes the first column of Dmat_ord I think a correct covariance function would be something like below:

[code]
a similar problem is also present in cell 55.

[2021-12-29 15:28] jaredsnyder commented on #163
I noticed the same issue, I updated the code to look like this:

[code]

It didn't seem to effect the plots but I could see that being the result of D being independent of M conditioned on A

[2021-12-30 21:51] MarcoGorelli commented on #125
closing this is already mostly there (and it's arguably not too important to have strict checks in the `resources` repo :smile: )

[2021-12-30 21:51] #125 closed

[2022-01-30 12:20] udibr opened #168 "Rethinking_2 environment.yml installs pymc and not pymc3"
The notebooks in Rethinking_2 folder import pymc3 and not pymc this results in a missing module error.
I tried to manually change the notebook Chap_02 to use pymc but then the numeric results are wrong.
I finally did `pip install pymc3` and the notebook run flawlessly

[2022-02-02 10:35] seanaedmiston commented on #168
Found same issue. Get no errors - just wrong numerical results (on the quadratic approximation stuff) when using pymc/main (was 4.0.0b).

[2022-02-02 12:44] ericmjl commented on #168
Good catch, @seanaedmiston. Could you post a reprex (minimal reproducible example) for the devs on the main PyMC issue tracker, if not already done? That will help us iron out bugs that you all have awesomely found!

[2022-03-21 14:36] canyon289 opened #177 "Add Bayes Rules Chapter 2"
Add Bayes Rules Chapter 2 to bayes_rules directly.
Link to text https://www.bayesrulesbook.com/chapter-2.html

At time of writing waiting on the merge for this PR, for now use a branch on top of this env, or create directory yourself locally https://github.com/pymc-devs/resources/pull/176

[2022-03-23 07:12] francescolosterzo commented on #164
Even if taking it from another angle, I have been fighting with this covariance function for a few days now, and indeed what you proposed here solved my problem (as far as I understand).

I have been working on the exercises and ex. 14M5 asks to reimplement the same model. If I redo the implementation proposed in cell 72 of Chp_14.ipynb it works fine, but then I tried to implement the model withou

[2022-03-25 16:04] canyon289 commented on #177
Closed by https://github.com/pymc-devs/resources/pull/184 and https://github.com/pymc-devs/resources/pull/185

[2022-03-25 16:04] #177 closed

[2022-03-25 16:07] canyon289 opened #185 "Fix up env for bayes rules"
Needs to install pymc not pymc3. Self assigning as I know what is needed

https://github.com/pymc-devs/resources/blob/main/Bayes_Rules/environment.yml

[2022-04-29 02:02] edumagol opened #192 "Chapter 5 - Code 5.29 should use log(mass)"
Hey guys,

Noticed you forgot to use log(mass) as in the book. THanks

[2022-05-02 15:09] edumagol commented on #192
Sure: https://github.com/pymc-devs/pymc-resources/blob/main/Rethinking_2/Chp_05.ipynb , Code 5.29

[2022-06-14 17:00] tgrunzweig-cpacket opened #195 "Chp_02.ipynb, import statement"
Greatly appreciated effort here, thank you.

cloned your latest repository, created an environment as per instructions. Noted in the environment.yml we have entires for pymc3 and pymc-theano, but not for pymc.

The first cell of chp2 is:

import arviz as az
import matplotlib.pyplot as plt
import numpy as np
import pymc as pm
import scipy.stats as stats

Output
-------------------------------------

[2022-06-16 01:32] yahrMason commented on #195
I have found this issue as well. I have gotten around it by pip installing pymc after I activate the stat-rethink2-pymc environment. I am sure this is not the preferred way to do this, but I have had success running the code using the new version of pymc. That may be suitable a suitable solution until the environment file is updated.

[2022-07-01 14:24] andreas-bauer commented on #195
Thx @yahrMason, after running `pip install pymc` it also worked for me.

[2022-07-11 06:01] EAly opened #199 "Conflicting chain size for code block 4.59"
I get the following error when I try to implement code block 4.59:

Code to run:
[code]

Error:
[code]

I didn't get any error for previous code blocks in this chapter (chapter 4), and I can't figure out what is causing this error.
Appreciate any help.

[2022-07-16 02:41] EAly opened #200 "causalgraphicalmodels import error with Python 3.10"
running ```from causalgraphicalmodels import CausalGraphicalModels``` on Python 3.10 results in the following error:

[code]
In Python > 3.9 ```iterable``` should be imported from ```collections.abc```

so any idea for how to get ```causalgraphicalmodels``` to run on Python 3.10?

[2022-07-16 04:32] canyon289 commented on #200
Hey @EAly,
This seems like an issue with CausalGraphicalModels and not PyMC? Just to be specific what is it you would like the PyMC team to help with?

[2022-07-16 04:34] EAly commented on #200
Thanks for your reply @canyon289 ,

I know this is an issue with causalgraphicalmodels, I was just wondering if you can provide any advice or workaround on how to handle this problem.

[2022-07-16 04:54] canyon289 commented on #200
Sure thing!
Simplest would be to downgrade the version of python to 3.9, then everything should work. That or see if upgrading the version of causallgraphicmodels to see if it supports 3.10

One question, when installing this environment did you the environment file associated with the resource youre trying to use? That should help you avoid these issues

[2022-07-16 05:01] EAly commented on #200
I did the python 3.9 thing and it is working fine now. I didn't stick to the environment file associated with the resource as I wanted to use pymc4.

Thanks again for your reply and help. I would also appreciate it the most if you can take a look at this [issue](https://github.com/pymc-devs/pymc-resources/issues/199) 😃

[2022-07-16 05:10] canyon289 commented on #200
Great, I'll go ahead and close this.

One tip, when opening issues for OSS projects its good to include the code youre running, in this case a link to the notebook, and all the versions of major packages and python. Ideally with a small reproducible example. without that its impossible for us to help you.

Glad you got it figured out!

[2022-07-16 05:10] #200 closed

[2022-07-18 03:53] EAly opened #201 "Chapter 5 import error when running pymc model"
I get the following error when I try to run any pymc model from chapter 5, e.g. *Code 5.3*, *Code 5.6*, *Code 5.10*:

[code]
I exported the details of the environment I'm using to the attached `txt` files (I'm sorry if this is not the optimal way to share environments, but this is the best of my knowledge)
[stats_reth2_ea_env.txt](https://github.com/pymc-devs/pymc-resources/files/9129341/stats_ret

[2022-07-18 04:04] canyon289 commented on #201
Have you tried using this environment with the package versions listed here?
 https://github.com/pymc-devs/pymc-resources/blob/main/Rethinking_2/environment.yml

[2022-07-18 04:18] EAly commented on #201
The environment I'm using is pretty much the same, except that I'm using pymc v4

[2022-07-18 04:33] canyon289 commented on #201
That explains it. PyMC V4 has multiple breaking changes and isnt compatible with the notebooks in that directory. Id suggest using that version exactly, or if youd like upgrading the rethinking notebooks to v4 in prs.

[2022-07-18 04:42] EAly commented on #201
Just to be sure, are you referring to this pull request: [#198](https://github.com/pymc-devs/pymc-resources/pull/198)?

[2022-07-19 02:20] EAly commented on #201
Actually the use of `aesara` instead of `theano` as per the notebook solved the problem and the models are now working fine so far (up to code snippet 5.10). I'm not sure though if others changes need to be done to the other packages in the environment.

[2022-07-29 09:25] hrm13 opened #204 "Chp_11 notebook - models not running - Got error No model on context stack"
On attempting to run code block 11.4 and 11.5 I get the following output:

`Got error No model on context stack. trying to find log_likelihood in translation.`

I've re-created my environment multiple times and it doesn't appear to change anything. I've tried this on macOS 11.2 (Big Sur) on Intel and M1 mac, using pymc3 (3.11.5).

Here's the code block from the notebook:

[code]

[2022-07-30 10:12] #204 closed

[2022-08-16 19:28] gekaklam opened #207 "Incompatibilities with Python 3.10, and the aesara 2.6.6 and causalgraphicalmodels-0.0.4"
Hello,

I've just started going through Statistical Rethinking v2, so I cloned the repo and tried to run the notebooks from chapter 2 to 6. I've encountered the following errors, for which I've identified the root causes and some possible solutions. However since I don't know how these would affect future chapters I didn't issue a pull request.

## Installation info

I'm on Ubuntu 20.04 and I inst

[2022-08-23 03:54] ericpena opened #208 "issue importing pymc3 "cannot import as scalar from numpy""
Hello. I've installed pymc3 on a MacBook m1 Pro using `conda install pymc3` and I'm getting an error with `cannot import name 'asscalar' from 'numpy'`.

Currently I'm using:
* `pymc3 3.9.3`
* `python 3.10.6`
* `numpy 1.23.2`
* `theano 1.0.5`

The full error immediately after `import pymc3 as pm` reads as:
[code]
Can I receive support in importing pymc3 without this error (from what I read elsewher

[2022-08-24 03:52] #208 closed

[2022-09-06 01:26] EAly opened #210 "Error for code snippet 8.8 - NotImplementedError"
Hi,

I get the following error when attempting to run the code snippet 8.8 (I'm using the environment in the attached txt file) :

[code]
[stats_reth2_ea_envExport.txt](https://github.com/pymc-devs/pymc-resources/files/9492612/stats_reth2_ea_envExport.txt)

[2022-09-06 01:27] EAly commented on #210
Hi @yahrMason ,

Can you help with error?

[2022-09-06 10:28] yahrMason commented on #210
@EAly I committed updates to the Chp_08 notebook on my most recent PR yahrMason:Chp_07_v4_update. I remember coming across this error when I was going through it. It should be fixed if you use the 8.8 snippet in the updated notebook.

[2022-09-06 10:43] EAly commented on #210
Thanks a lot

[2022-09-06 10:43] #210 closed

[2022-10-11 07:11] canyon289 commented on #201
Looked at the PR, yes though it needs some work. Would you be willing to
update env file and the rest of the notebooks as well? That would be a
great help!

On Mon, Jul 18, 2022 at 6:04 AM Ravin Kumar ***@***.***> wrote:

[2022-10-16 10:19] adamcc commented on #77
Hi @aloctavodia
Sorry this took a long time to come back to.

I cloned the full pymcresources repo and tried to create the environment:

`➜  pymc-resources git:(main) cd Rethinking_2
➜  Rethinking_2 git:(main) ls
Chp_02.ipynb            Chp_09.ipynb            Chp_16.ipynb
Chp_03.ipynb            Chp_10.ipynb            Data
Chp_04.ipynb            Chp_11.ipynb            End_of_chapter_problems
C

[2022-10-16 11:01] adamcc commented on #77
Update, I tried the `environment_v4.yml` file instead and it worked!

The `Chp_02.ipynb` notebook works fine, only the warning below.

Thanks for making this collection!

[code]

[2022-11-12 13:57] symeneses commented on #201
I read in the Rethinking README that chapters 14, 15 and 16 are left to be migrated. Is someone working on that? I didn't find any related issue.

[2022-11-16 07:07] grtyvr opened #216 "Adding exposition about PyMC and Arviz to the Rethinking_2 code."
Hi Folks,

I am working through Statistical Rethinking 2 and since I am more familiar with python than R I landed here.  It seems to me that the book is aimed at readers who are learning R and the rethinking package for R at the same time as learning the statistics.  With that type of reader in mind, but instead learning the PyMC and Arviz libraries, I have started to add in notes related to how w

[2022-11-30 03:53] EAly opened #219 "Type error - Code 15.12 - pymc v4"
I get the following error when I attempt to run code 15.12 (the Pymc v4 version):

[code]

The code I'm running is:

[code]
Could you please help me with this error?

[2022-11-30 03:54] EAly commented on #219
@yahrMason  would you please help with this error?

[2022-11-30 04:02] fonnesbeck commented on #219
You've clobbered the `np.random.seed` function with an integer:

[code]

[2022-11-30 04:05] fonnesbeck commented on #74
Closed due to inactivity.

[2022-11-30 04:05] #74 closed

[2022-11-30 04:06] fonnesbeck commented on #67
Last two chapters appear to have been merged.

[2022-11-30 04:06] #67 closed

[2022-11-30 12:06] yahrMason commented on #201
@symeneses chapter 14 updates are on main, you can find the 15 and 16 updates on this [PR](https://github.com/pymc-devs/pymc-resources/pull/217)

[2022-11-30 15:05] ColCarroll commented on #219
More specifically, you'd want to replace the line fonnesbeck noted with just `np.random.seed(RANDOM_SEED)`